
<h1>Empresas</h1>

<div class="card-columns">

   <% @empresas.each do |empresa| %>

     <%= link_to empresa_path(empresa) do %>

         <div class="card cards">
            <% if empresa.logo.attached? %>
              <%= image_tag empresa.logo, class: "card-img-top img-fluid img-pad" %>
            <% end %>
           <div class="card-body">
             <h5 class="card-title"><%= link_to empresa.nombre, empresa_path(empresa) if empresa.nombre? %></h5>
             <p class="card-text"><%= empresa.resumen if empresa.resumen? %></p>
           </div>
         </div>

       <% end %>

   <% end %>

</div>
