<div class="col-md-12  negative-margin">
   <h1 class="mainribbon"> <strong> <span class="capital_color">PRÓXIMOS</span> EVENTOS</strong></h1>

  <% if @eventos.any?  %>
    <%= render @eventos %>
  <% else %>
    <div class="row alert alert-secondary">
      No hay eventos próximos
    </div>
  <% end %>

  <div class="text-right">
    <%= link_to 'Ver todos', eventos_path %>
  </div>

  <div class="dropdown-divider"></div>

  <div id="weather">
    <a class="weatherwidget-io" href="https://forecast7.com/es/39d22n7d00/alburquerque/" data-label_1="ALBURQUERQUE" data-label_2="Extremadura" data-theme="pure" >ALBURQUERQUE Extremadura</a>
     <script>
     !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
     </script>
  </div>

</div>
