<%= link_to info_mapa_path do %>
<div class="card card-space-bottom">
  <div class="ribbon">
    <span>Descubre</span>
  </div>
  <%= image_tag "mapa.jpeg", class: "card-img-top img-fluid img-pad", alt: "Mapa de Alburquerque" %>
  <div class="card-body">
    <h5 class="card-title">La octaba maravilla del mundo</h5>
    <p class="card-text event-text">Alburquerque se encuentra en los confines de la península ibérica, en la entrada de Portugal</p>
  </div>
</div>
<% end %>
