<div class="row">
  <div class="col-md-12">
    <div >
      <%= image_tag "mapa.jpg", class: "img-fluid mx-auto d-block", name: "painted_map", usemap: "#painted_map" %>
    </div>

    <map name="painted_map">
        <area alt="Iglesia de La Granada" title="Iglesia de La Granada" href="/puntos/iglesia-de-la-granada" shape="poly" coords="493,167,486,252,482,365,593,365,655,351,651,258,609,213,535,159,514,116" />
        <area alt="Arco de Montemolín" title="Arco de Montemolín" href="/puntos/arco-de-montemolin" shape="poly" coords="103,501,254,569,281,533,287,466,172,362,100,413" />
        <area alt="Iglesia de Santiago" title="Iglesia de Santiago" href="/puntos/iglesia-de-santiago" shape="poly" coords="360,414,353,543,523,527,544,482,546,444,533,377,502,379" />
        <area alt="Biblioteca" title="Biblioteca" href="/puntos/biblioteca-arturo-perez-gazul-hospital-san-juan-de-dios" shape="poly" coords="557,455,550,590,686,588,693,571,661,537,650,414,589,398,562,404" />
        <area alt="Parque de la constitución" title="Parque de la constitución" href=" /puntos/parque-de-la-constitucion" shape="poly" coords="783,694,777,579,827,562,859,532,913,526,945,495,982,554,989,619,992,682,975,694" />
        <area alt="Palacio de los Zapata" title="Palacio de los Zapata" href="/puntos/palacio-de-los-zapata" shape="poly" coords="674,433,686,534,795,563,796,484,757,435,670,416" />
        <area alt="Convento de Santa Clara" title="Convento de Santa Clara" href="/puntos/convento-de-santa-clara-pendiente" shape="poly" coords="675,263,684,394,785,424,790,358,801,296,834,275,843,223,754,218" />
        <area alt="Puerta amurallada El Tumbaito" title="Puerta amurallada El Tumbaito" href="/puntos/el-tumbaito-portillo-del-sol" shape="poly" coords="805,432,809,527,885,489,926,455,967,419,984,369,984,315,945,249,890,272" />
        <area alt="Palacio doña Mariana" title="Palacio doña Mariana" href="/puntos/palacio-de-dona-mariana" shape="poly" coords="556,81,559,154,595,160,611,176,636,173,651,167,738,144,705,76,708,29,552,23" />
        <area alt="Casa Maestral" title="Casa Maestral" href="/puntos/casa-maestral" shape="poly" coords="380,14,378,140,434,160,478,159,501,139,502,66,470,21" />
        <area alt="Museo de Llerena" title="Museo de Llerena" href="/puntos/museo-de-llerena-palacio-episcopal" shape="poly" coords="337,244,411,287,473,237,474,195,416,160,388,158,333,193" />
        <area alt="Puerta de Villagarcía" title="Puerta de Villagarcía" href="/puntos/puerta-de-villagarcia" shape="poly" coords="24,277,29,359,100,352,140,265,124,215,76,217" />
        <area alt="Complejo cultural La Merced" title="Complejo cultural La Merced" href="/puntos/complejo-cultural-la-merced" shape="poly" coords="147,241,153,301,238,352,298,345,327,274,322,192,238,155" />
        <area alt="Parque natural La Albuera" title="Parque natural La Albuera" href="/puntos/parque-natural-la-albuera" shape="poly" coords="24,188,99,201,167,190,225,156,283,141,333,128,272,18,47,27" />
    </map>

  </div>
</div>
