<div class="row">
  <div class="col-md-12">
    <div >
      <%= image_tag "mapa.jpg", class: "img-fluid mx-auto d-block", name: "painted_map", usemap: "#painted_map" %>
    </div>

    <map name="painted_map">
       <area alt="Iglesia de San Francisco" title="Iglesia de San Francisco" href="/puntos/1" shape="poly" coords="522,130,543,106,538,71,527,41,471,3,416,7,409,30,404,63,417,111" />
       <area alt="Torre del reloj" title="Torre del reloj" href="/puntos/1" shape="poly" coords="651,201,653,337,709,343,702,199" />
       <area alt="Sinagoga" title="Sinagoga" href="/puntos/1" shape="poly" coords="503,263,515,352,579,355,584,273" />
       <area alt="Puerta de la Villa" title="Puerta de la Villa" href="/puntos/1" shape="poly" coords="593,427,675,417,652,335,614,324,603,340" />
       <area alt="Iglesia de San Marcos" title="Iglesia de San Marcos" href="/puntos/1" shape="poly" coords="683,396,685,425,683,468,811,472,791,391" />
       <area alt="Castillo de Luna" title="Castillo de Luna" href="/puntos/1" shape="poly" coords="415,541,418,613,647,611,599,536,551,492,519,480,480,499" />
       <area alt="Santa María del Mercado" title="Santa María del Mercado" href="/puntos/1" shape="poly" coords="401,393,396,477,411,486,469,484,511,466,500,388,459,374" />
       <area alt="Puerta de Valencia" title="Puerta de Valencia" href="/puntos/1" shape="poly" coords="223,283,239,372,351,364,333,301,290,267" />
       <area alt="Pinturas Rupestres" title="Pinturas Rupestres" href="/puntos/1" shape="poly" coords="4,440,87,436,110,355,87,308,38,277,7,298" />
    </map>

  </div>
</div>
